<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Post by {{user.name}} on {{format_date date_created}}</p>
  {{!-- TODO: add like and dislike feature? If so, find emojis to use for thumbs up or thumbs down --}}
  <p>
    <button class="btn btn-primary">COMMENT</button>
  </p>
</div>